/* ===== CSS RESET ===== */
/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'); */
/* ===== CSS RESET ===== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  /* color:#4CA7F9; */
  color: rgb(149, 189, 57);
  font-size: 2em;
  /* border: 10px solid pink; */
}

h3 {
  color: rgb(88, 70, 160);
  font-size: 8em;
  /* border:1px solid red; */
}

address {
  font-style: normal;
}